#left {
    left: 0; 
    background-color: #f9f9f9; 
    width: 15%;
    height: 100%;
    position: absolute;
    z-index: 0;
    display: inline-block;
}
#right { 
    right: 0; 
    background-color:#000000;
    width: 85%;
    height: 100%;
    position: absolute;
    z-index: 0;
    display: inline-block;
}

#arrow {
    background-color: #000000;
    height:50px;
    width: 50px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top:13%;
    margin-left:135px;
    margin-top:-40px;

}
/* hack */
#projects:hover ~ #arrow {
    top:30%;
    transition:.5s;
}
#code:hover ~ #arrow {
    top:45%;
    transition:.5s;
}
#design:hover ~ #arrow {
    top:62%;
    transition:.5s;
}
#writing:hover ~ #arrow {
    top:78%;
    transition:.5s;
}
#contact:hover ~ #arrow {
    top:94%;
    transition:.5s;
}
/* hack */


a {
    text-decoration: none;
}

ul {
    position:absolute;
    top:0%;
}

ul li {
    list-style-type: none;
    padding:20px 20px 20px 20px;
    margin:15px 0px 15px 0px;
}