body {
    background-color: #2CAE5A;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#name {
    font-size: 2em;
    font-weight:  bold;
    margin-bottom: 0.67em;
    text-align: -webkit-center;
}


#bio {
    font-size: .5em;
    margin: 1em 0px;


}

#twitter {
    font-size: .5em;
    margin: 1em 0px;
}

#initial {
    font-style: normal;
    font-weight: lighter;
    margin: .5em 0px;
    letter-spacing: 8px
    
}

#container {
}